In [1]:
import pandas as pd

In [2]:
csv_path = "Dataset/Instacart_original.csv"

In [3]:
df = pd.read_csv(csv_path, index_col=0)

In [5]:
df.head()

,order_id,product_id,add_to_cart_order,order_dow,order_hour_of_day,length,product_name,aisle_id,department_id,aisle,department
0,2,1973,1,5,9,3,Organic Egg Whites,78,16,eggs,dairy eggs
1,2,1050,2,5,9,3,Carrots,75,4,fresh vegetables,produce
2,2,560,4,5,9,3,Garlic Powder,94,13,spices seasonings,pantry
3,3,1045,1,5,17,5,Unsweetened Chocolate Almond Breeze Almond Milk,83,16,soy lactosefree,dairy eggs
4,3,1476,2,5,17,5,Unsweetened Almondmilk,83,16,soy lactosefree,dairy eggs

In [6]:
selected_cols = ['order_id', 'product_id']
new_df = df[selected_cols].copy()

In [7]:
new_df['timestamp'] = new_df['order_id']

In [9]:
new_df.shape

(323705, 3)

In [11]:
new_df.rename(columns={'order_id':'user_id:token', 'product_id':'item_id:token', 'timestamp':"timestamp:float"}, inplace=True)
new_df

        user_id:token  item_id:token  timestamp:float
0                   2           1973                2
1                   2           1050                2
2                   2            560                2
3                   3           1045                3
4                   3           1476                3
...               ...            ...              ...
323700         105628            431           105628
323701         105629           1525           105629
323702         105629            419           105629
323703         105629            185           105629
323704         105629           1113           105629

[323705 rows x 3 columns]

In [12]:
new_df.to_csv('Sequential-Recommendation/data1/dataset.inter', sep="\t")