In [9]:
csv_path = 'Dataset/Instacart_original.csv'
df = pd.read_csv(csv_path, index_col=0)
df

,order_id,product_id,add_to_cart_order,order_dow,order_hour_of_day,length,product_name,aisle_id,department_id,aisle,department
0,2,1973,1,5,9,3,Organic Egg Whites,78,16,eggs,dairy eggs
1,2,1050,2,5,9,3,Carrots,75,4,fresh vegetables,produce
2,2,560,4,5,9,3,Garlic Powder,94,13,spices seasonings,pantry
3,3,1045,1,5,17,5,Unsweetened Chocolate Almond Breeze Almond Milk,83,16,soy lactosefree,dairy eggs
4,3,1476,2,5,17,5,Unsweetened Almondmilk,83,16,soy lactosefree,dairy eggs
...,...,...,...,...,...,...,...,...,...,...,...
323700,105628,431,5,4,16,5,Light Semisoft Cheese,20,16,packaged cheese,dairy eggs
323701,105629,1525,1,0,13,4,Boneless Skinless Chicken Breasts,45,12,packaged poultry,meat seafood
323702,105629,419,2,0,13,4,Organic White Basmati Rice,58,9,grains rice dried goods,dry goods pasta
323703,105629,185,3,0,13,4,Organic Short Grain Brown Rice,58,9,grains rice dried goods,dry goods pasta
323704,105629,1113,5,0,13,4,Original Enriched Rice Drink,83,16,soy lactosefree,dairy eggs

In [10]:
import pandas as pd

In [11]:
df1 = df[(df['order_dow'] == 5) & (df['order_hour_of_day'] == 9)]
df1

,order_id,product_id,add_to_cart_order,order_dow,order_hour_of_day,length,product_name,aisle_id,department_id,aisle,department
0,2,1973,1,5,9,3,Organic Egg Whites,78,16,eggs,dairy eggs
1,2,1050,2,5,9,3,Carrots,75,4,fresh vegetables,produce
2,2,560,4,5,9,3,Garlic Powder,94,13,spices seasonings,pantry
540,174,1596,1,5,9,4,Fresh Cauliflower,75,4,fresh vegetables,produce
541,174,1825,2,5,9,4,Island Vanilla Cereal,108,14,cereal,breakfast
...,...,...,...,...,...,...,...,...,...,...,...
322425,105211,20,4,5,9,5,Cantaloupe,22,4,fresh fruits,produce
322426,105211,2385,5,5,9,5,Gold Potato,75,4,fresh vegetables,produce
322510,105236,1507,1,5,9,3,Seedless Small Watermelon,22,4,fresh fruits,produce
322511,105236,1671,2,5,9,3,Organic Fuji Apple,22,4,fresh fruits,produce
322512,105236,1770,3,5,9,3,Red Plums,22,4,fresh fruits,produce

In [14]:
listt = [
  "Freshly Shaved Parmesan Cheese",
  "Fennel",
  "Elbow Macaroni Pasta",
  "Multigrain Sandwich Bread",
  "Ancient Grain Granola Cranberry Pecan",
  "Honey Bunches of Oats Honey Roasted Cereal",
  "Mandarin Oranges",
  "Apple Pie Fruit & Nut Food Bar",
  "Organic Stage 2 Peaches & Bananas Baby Food",
  "Rich Taste Extra Virgin Olive Oil"
]
# for i in range(len(listt)):
test = df1[df1['product_name'] == "Fennel"]
print(test)

        order_id  product_id  add_to_cart_order  order_dow  order_hour_of_day  \
195519     64051        2451                  2          5                  9

        length product_name  aisle_id  department_id             aisle  \
195519       5       Fennel        75              4  fresh vegetables

       department
195519    produce